<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/rooms.css">
</head>
<body>
    <div class="room-list">
      
    </div>
    <script src="static/js/my_room.js"></script>
</body>
</html>

<!-- 

  <div class="panel panel-default">
            <div class="panel-body">
              <img src="static/img/封面.jpg" alt="">
            </div>
            <div class="panel-footer">
              群聊开车
            </div>
            <div class="room-master">
              <img class="icon" src="static/img/车.png" alt=""> admin
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
              <img src="static/img/封面.jpg" alt="">
            </div>
            <div class="panel-footer"></div>
            <div class="room-master">
              <img class="icon" src="static/img/车.png" alt=""> admin
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
              <img src="static/img/封面.jpg" alt="">
            </div>
            <div class="panel-footer"></div>
            <div class="room-master">
              <img class="icon" src="static/img/车.png" alt=""> admin
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
              <img src="static/img/封面.jpg" alt="">
            </div>
            <div class="panel-footer">

            </div>
            <div class="room-master">
              <img class="icon" src="static/img/车.png" alt=""> admin
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="static/img/封面.jpg" alt="">
          </div>
          <div class="panel-footer">

          </div>
          <div class="room-master">
            <img class="icon" src="static/img/车.png" alt=""> admin
          </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="static/img/封面.jpg" alt="">
        </div>
        <div class="panel-footer">

        </div>
        <div class="room-master">
          <img class="icon" src="static/img/车.png" alt=""> admin
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="static/img/封面.jpg" alt="">
      </div>
      <div class="panel-footer">

      </div>
      <div class="room-master">
        <img class="icon" src="static/img/车.png" alt=""> admin
      </div>
  </div>
 -->