<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/world.css">
</head>
<body>
    <div class="row" style="width: 100%; margin-right: 0px; margin-left: 0px;">
        <div class="col-md-8 col-md-offset-2" style="padding-right: 5px !important;padding-left: 5px !important;" >
            <div role="tabpanel" class="tab-pane active" id="home" style="padding: 10px;">
                <!--  内容 -->
                    <div class="content" >
                    </div>
                    
                    <!-- 发送内容 -->
                    <div class="input-group" style="margin-top: 10px;">
                        <input type="text" class="form-control text" placeholder="输入内容">
                        <span class="input-group-btn">
                        <button class="btn btn-primary send" type="button">发送</button>
                        </span>
                    </div>
                    <div class="close-btn" style="text-align:center; margin-top:20px; {% if not context.my_room %} display: none; {% endif %}">
                        <button class="btn btn-primary close_room" type="button">关闭</button>
                    </div>
            </div>
            
        </div>
    </div>
      <script></script>
      <script src="/static/js/jquery-3.5.1.min.js"></script>
      <script src="/static/js/urlPath.js"></script>
      <script src="/static/js/utils.js"></script>
      <script src="/static/js/socket.io.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/room.js"></script>
</body>
</html>
